.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cabinet Grotesk", sans-serif;
}

.modal__content {
  background-color: white;
  position: relative;
  padding: 28px 28px 36px;
  box-sizing: border-box;
  width: 496px;
  height: 436px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.modal__form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

.modal__title {
  margin: 0;
  font-size: 16px;
}

.modal__label {
  display: flex;
  flex-direction: column;
}

.modal__input {
  border: none;
  border-bottom: 1px black solid;
}

.modal__submit {
}

.modal__label_type_radio {
  display: flex;
  flex-direction: row;
}

.modal__radio-buttons {
  border: none;
}

.modal__label_type_radio {
}

.modal__radio-input {
}

input[type="radio"] + label {
  opacity: 0.5;
}

input[type="radio"]:checked + label {
  opacity: 1;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  background-image: url("../../assets/close-btn.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
}
