.item-card {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  position: relative;
}

.item-card__name-container {
  max-width: 100%;
  position: absolute;
  top: 15px;
  border-radius: 4px;
  background-color: white;
  padding: 2px 12px;
}

.item-card__name {
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  opacity: 0.6;
  background-color: white;
  height: 24px;
  width: auto;
  text-align: center;
  box-sizing: border-box;
  line-height: 24px;
  border-radius: 4px;
  margin: 0 auto;
}

.item-card__image {
  border-radius: 19px;
  width: 328px;
  height: 325px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.like-button {
  height: 15px;
  width: 18px;
  background: url(../../assets/inactive-like.svg);
  border: none;
  flex-shrink: 0;
  cursor: pointer;
}

.like-button__active {
  background: url(../../assets/active-like.svg);
}

.like-button:hover {
  opacity: 0.5;
}
