.header {
  display: flex;
  align-items: center;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
}

.header__logo {
  padding-left: 40px;
}

.header__profile-container {
  display: flex;
  align-items: center;
}

.header__date-location {
  padding-left: 24px;
}

.header__username {
  padding-right: 12px;
}

.user__avatar {
  padding-right: 40px;
}

.header__add-clothes-btn {
  margin-left: auto;
  font-weight: 700;
  background: none;
  border: none;
  cursor: pointer;
  padding-right: 20px;
}
